a:hover, a:visited, a:link, a:active {
        text-decoration: none;
}

li.list-group-item:hover, li.list-group-item:hover:focus {
    background-color: lightgray;
}

img.img-tech {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

img.img-tech:hover {
    -webkit-transform: rotate(+15deg);
    -moz-transform: rotate(+15deg);
    -o-transform: rotate(+15deg);
    -ms-transform: rotate(+15deg);
    transform: rotate(+15deg);
}

/*img.mini-logo.advarics {
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

img.mini-logo.advarics:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}*/

img.mini-logo.troisdorf {
    -webkit-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -o-transition: all 5s ease;
    -ms-transition: all 5s ease;
    transition: all 5s ease;
}

img.mini-logo.troisdorf:hover {
    -webkit-filter: hue-rotate(333deg);
}

/***********CHANGES****************/

.caption-content {
    font-size:large;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    position: relative;

}

.tech-name {
    position: relative;
    padding-left: .5em;
}

.portfolio-item {
    position: relative;
    padding-top: 2em;
}

.view {
    max-width: 400px;
    height: 250px;
    margin: 0px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    /*background: #fff url(../images/bgimg.jpg) no-repeat center center*/
}
.view .mask, .view .content {
    width: 300px;
    height: 250px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    /*padding: 10px 20px 20px 10;*/
    padding-top: 2em;
    padding-right: 2em;

    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    position:relative;
    padding: 5px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-fifth img {
    transition: all 0.3s ease-in-out;
}
.view-fifth .mask {
    background-color: rgba(146,96,91,0.3);
    transform: translateX(-300px);
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
.view-fifth h2{
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    box-shadow: 0px 1px 3px rgba(159, 141, 140, 0.5);
}
.view-fifth p{
    opacity: 0;
    color: #333;
    transition: all 0.2s linear;
}

.view-fifth:hover .mask {
    transform: translateX(0px);
}
.view-fifth:hover img {
    transform: translateX(300px);
    transition-delay: 0.1s;
}
.view-fifth:hover p{
    opacity: 1;
    transition-delay: 0.4s;
}

/*** alternative animation ***/
.view-tenth img {
    transform: scaleY(1);
    transition: all 0.7s ease-in-out;
    padding-right: 1em;
}
.view-tenth .mask {
    background-color: rgba(255, 231, 179, 0.3);
    transition: all 0.5s linear;
    opacity: 0;
}
.view-tenth h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin-left: .5em;
    margin-right: 2em;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
    text-align: center;
}
.view-tenth p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
    text-align: center;
}
.view-tenth a.info {
    margin-top: 1.5em;
    margin-right: 2.1em;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}

.view-tenth:hover img {
    transform: scale(10);
    opacity: 0;
}
.view-tenth:hover .mask {
    opacity: 1;
}
.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info{
    transform: scale(1);
    opacity: 1;
}
